@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body{
    overflow-x: hidden;
    background-color: rgb(35, 34, 34);
    color: white;
}
::-webkit-scrollbar{
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(63, 62, 62);
    border-radius: 9px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    padding: 0 29px;
    z-index: 16;
    height: 110px;
}
header nav{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

header nav ul li img{
    width: 76px;
    border-radius: 9px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}
 header nav ul li a h1{
    font-size: 29px;
    cursor: pointer;
 }

 header nav ul form input{
    padding: 17px;
    width: 76vw;
    border: none;
    font-size: 17px;
    border-radius: 26px;
    outline: 2px solid lightgreen;
    background-color: rgb(40, 39, 39);
    color: white;
 }

 header nav ul form input::placeholder{
 font-size: 17;
 color: white;
 }

.pages{
  position: fixed;
  top: 110px;
  width: 21%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  color: white;
  padding: 12px 18px;
  z-index: 12;
  transform: translateX(-180%);
  transition:transform  1s ease-in;
}
.pages .content{
    display: flex;
    flex-wrap: wrap;
}
.pages .content button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.pages .content button{
    padding: 12px;
    border-radius: 9px;
    color: white;
    background-color: rgb(15, 14, 14);
    margin: 9px 9px;
    cursor: pointer;
    max-width: max-content;
    overflow-wrap: break-word;
    border: none;
    outline: 1px solid lightgreen;
}

.pages .content button:hover{
    background-color: green;
}

.slides{
position: fixed;
top: 109px;
width:100vw;
height:100vh;
background-image: url("/images/Create_a_high-definition_full-screen_background_im.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
transition:background-image 1.06s ease-in-out;
}

.userProfile{
    width: 137px;
    height: 137px;
    border-radius: 50%;
}
.userProfileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.userProfileContainer button  a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.userProfileContainer button{
    padding: 12px;
    border-radius: 9px;
    color: white;
    background-color: rgb(15, 14, 14);
    margin: 9px 9px;
    cursor: pointer;
    max-width: max-content;
    overflow-wrap: break-word;
    border: none;
    outline: 1px solid lightgreen;
}

.userProfileContainer button:hover{
    background-color: green;
}

.sinupoption{
    position: absolute;
    top: 146px;
    right: 0;
    width: 100vw;
    z-index: -10;
}
.sinupoption main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sinupoption main div{
    position: relative;
    width: 36vw;
    height: 60vh;
    margin: 12px 12px;
    outline: 1px solid lightgreen;
    border-radius: 9px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sinupoption main div h2{
    font-size: 6rem;
    z-index: 10;
}


.sinupoption main div img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.sinupoption main div a{
 position: absolute;
 bottom: 0;
 padding: 16px;
 font-size: 27px;
 cursor:pointer;
 background-color: rgb(32, 31, 31);
 border: none;
 outline: 1px solid lawngreen;
 text-decoration: none;
 color: white;
 width: 100%;
 border-radius: 9px;
 text-align: center;
}
.sinupoption main div a:hover{
   background-color: green;
}
.bar{
   position: fixed;
   top: 110px;
}


.sinuppage{
    position: absolute;
    top: 146px;
    right: 0;
    width: 80vw;
    z-index: -10;
}

.sinuppage form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.sinuppage form input{
    border: none;
    padding: 16px;
    font-size: 18px;
    background-color: rgb(15, 14, 14);
    color: white;
    border-radius: 9px;
    outline: 2px solid lightgreen;
    margin: 12px 12px;
}

.sinuppage form button{
    border: none;
    padding: 16px;
    font-size: 22px;
    background-color: rgb(15, 14, 14);
    color: white;
    border-radius: 9px;
    outline: 2px solid lightgreen;
    margin: 12px 12px;
    cursor: pointer;
}

.sinuppage form a{
    border: none;
    padding: 18px;
    font-size: 22px;
    margin: 12px 12px;
    cursor: pointer;
    text-decoration: none;
    color: blueviolet;

}


.FormVailidationErrors{
    color: red;
    font-size: 18px;
}
.captcha{
    display: flex;
    padding: 8px 16px;
}
.success-message{
    background-color: green;
    padding: 16px;
    position: absolute;
    top: 110px;
    width: 100%;
}
.success-message span{
    color: white;
    font-size: 20px;
}
.success{
    padding:12px;
    border-radius: 9px;
    background-color: #c3e6cb;
    width: 90%;
    margin: auto;
}
.success span{
    color: green;
}
.error{
    padding:12px;
    border-radius: 9px;
    background-color: rgba(255, 0, 0, 0.6);
    width: 90%;
    margin: auto;
}
.error span{
    color: white;
}
.payment-alert-if-user-is-seller{
    color: rgb(255, 0, 0);
}

.paymentgatewaypage{
    position: absolute;
    top: 146px;
    right: 0;
    width: 100vw;
    z-index: -10;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.paymentgatewaypage .payment-box{
    width: 426px;
    height: 69vh;
    border: 2px solid lightgreen;
    border-radius: 9px;
    margin: 12px 12px;
    position: relative;
}

.paymentgatewaypage .payment-box .payment-days{
    font-size: 2.8rem;
    color: white;
    padding: 12px;
    background-color: rgb(153, 255, 0);
    text-align: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.paymentgatewaypage .payment-box .payment-rs{
    font-size: 2.8rem;
    color: white;
    padding: 12px;
    background-color: rgb(127, 189, 33);
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.paymentgatewaypage .payment-box ul li{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 26px;
    list-style: none;
    word-break: break-word;
}
.paymentgatewaypage .payment-box a{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 17px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 29px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.user-profile-section{
    position: absolute;
    top: 152px;
    right: 0;
    width: 100vw;
    z-index: -10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user-profile-section a{
    padding: 12px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: 2px solid lightgreen;
    border-radius: 9px;
    text-decoration: none;
    margin: 12px;
    width: 70vw;
    text-align: center;
}
.user-profile-section h2{
    padding: 12px;
}
.user-profile-section div{
    padding: 12px;
    border: 2px solid lightgreen;
    border-radius: 9px;
    font-size: 20px;
    margin: 12px 12px;
    width: 70%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.user-profile-section form{
    width: 70vw;
    margin: auto;
}
.user-profile-section form input{
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 9px;
    outline: 2px solid lightgreen;
    color: white;
    font-size: 19px;
    margin: 12px;
    width: 70vw;
}
.user-profile-section form select{
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 9px;
    outline: 2px solid lightgreen;
    color: white;
    font-size: 19px;
    margin: 12px;
    width: 70vw;
}
.user-profile-section form button{
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 9px;
    outline: 2px solid lightgreen;
    color: white;
    font-size: 20px;
    margin: 12px;
    width: 70vw;
    font-weight: 600;
    cursor: pointer;
}


 /* Media queries appeares here */
 @media screen and (max-width: 1306px) {
    header nav ul form input{
        width: 56vw;
     }

 }

 @media screen and (max-width: 808px) {
    header nav ul form input{
        width: 46vw;
     }
     header nav ul li a h1{
        font-size: 21px;

     }
     header nav ul li img{
        width: 56px;
    }
 }

 @media screen and (max-width: 530px) {
    header nav ul form input{
        width: 56vw;
     }
     header nav ul li a h1{
        font-size: 21px;

     }
     header nav ul li img{
        width: 56px;
    }
    header{
        padding: 0 0px;
    }
 }

 @media screen and (max-width: 530px) {
    header nav ul form input{
        width: 56vw;
        padding: 12px;
     }
     header nav ul li a h1{
        font-size: 17px;

     }
     header nav ul li img{
        width: 46px;
    }
    header{
        padding: 0 0px;
    }
 }

 @media screen and (max-width: 408px) {
    header nav ul form input{
        width: 76vw;
        padding: 12px;
     }
     header nav ul li a h1{
        font-size: 17px;
        display: none;

     }
     header nav ul li img{
        width: 46px;
    }
    header{
        padding: 0 0px;
    }

 }

 @media screen and (max-width: 380px) {
    header nav ul form input{
        width: 69vw;
        padding: 12px;
     }
     header nav ul li a h1{
        font-size: 17px;
        display: none;

     }
     header nav ul li img{
        width: 46px;
    }
    header{
        padding: 0 9px;
    }

 }


 @media screen and (max-width: 326px) {
    header nav ul form input{
        width: 62vw;
        padding: 10px;
     }

     header nav ul li img{
        width: 37px;
    }
    header{
        padding: 0 9px;
    }

 }

 @media screen and (max-width: 273px) {
    header nav ul form input{
        width: 58vw;
        padding: 10px;
     }

     header nav ul li img{
        width: 37px;
    }
    header{
        padding: 0 9px;
    }

 }

 @media screen and (max-width: 1200px) {
    .pages{
        width: 32%;
      }
 }

 @media screen and (max-width: 900px) {
    .pages{
        width: 42%;
      }
 }

 @media screen and (max-width: 700px) {
    .pages{
        width: 62%;
      }
 }

 @media screen and (max-width: 446px) {
    .pages{
        width: 100%;
      }

 }

 @media screen and (max-width: 280px) {
    .pages{
        width: 100%;
      }
 }

 @media screen and (max-width: 1000px) {
    .sinupoption main div{
        position: relative;
        width: 46vw;
        height: 60vh;
        margin: 12px 12px;
        outline: 1px solid lightgreen;
        border-radius: 9px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 }

 @media screen and (max-width: 682px) {
    .sinupoption main div{
        position: relative;
        width: 86vw;
        height: 60vh;
        margin: 12px 12px;
        outline: 1px solid lightgreen;
        border-radius: 9px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 }

 @media screen and (max-width: 396px) {
    .sinupoption main div{
        position: relative;
        width: 96vw;
        height: 60vh;
        margin: 12px 12px;
        outline: 1px solid lightgreen;
        border-radius: 9px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 }

 @media screen and (max-width: 290px) {
    .sinupoption main div{
        position: relative;
        width: 96vw;
        height: 60vh;
        margin: 12px 12px;
        outline: 1px solid lightgreen;
        border-radius: 9px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sinupoption main div h2{
        font-size: 4rem;
        z-index: 10;
    }

    .sinupoption main div a{
        position: absolute;
        bottom: 0;
        padding: 12px;
        font-size: 18px;
    }
 }


 @media screen and (max-width: 898px){
    .paymentgatewaypage .payment-box{
        width: 626px;
    }
 }

 @media screen and (max-width: 660px){
    .paymentgatewaypage .payment-box{
        width: 526px;
    }
 }

 @media screen and (max-width: 460px){
    .paymentgatewaypage .payment-box{
        width: 426px;
    }
 }

 @media screen and (max-width:351px) {
    .paymentgatewaypage .payment-box .payment-days{
        font-size: 2.1rem;
    }
    .paymentgatewaypage .payment-box .payment-rs{
        font-size: 2.1rem;
    }

 }
